<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Bookables.ecore"
            class="Classes.Bookables.BookablesPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Stays.ecore"
            class="Classes.Stays.StaysPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Banking.ecore"
            class="Classes.Banking.BankingPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Bills.ecore"
            class="Classes.Bills.BillsPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Guests.ecore"
            class="Classes.Guests.GuestsPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Accounts.ecore"
            class="Classes.Accounts.AccountsPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Bookings.ecore"
            class="Classes.Bookings.BookingsPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Customers.ecore"
            class="Classes.Customers.CustomersPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Statistics.ecore"
            class="Classes.Statistics.StatisticsPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Staff.ecore"
            class="Classes.Staff.StaffPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Inventory.ecore"
            class="Classes.Inventory.InventoryPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Restaurants.ecore"
            class="Classes.Restaurants.RestaurantsPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Services.ecore"
            class="Classes.Services.ServicesPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Feedback.ecore"
            class="Classes.Feedback.FeedbackPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///Classes/Requests.ecore"
            class="Classes.Requests.RequestsPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="null"
            class="Classes.ECoreMapEntries.ECoreMapEntriesPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http://www.eclipse.org/uml2/5.0.0/Types"
            class="org.eclipse.uml2.types.TypesPackage"
            genModel="codeGen.genmodel"/>
   </extension>

</plugin>
